/*タブレット*/
@media screen and (max-width: 1024px) {
    /*ヘッダー*/
    h1 img {
        width: 100%;
        padding: 5px;
    }
    .reservation_area {
        display: none;
    }

    .catchcopy {
        top: 350px;
        right: 20px;
        bottom: 0;
        height: 120px;
    }
    .catchcopy h2 {
        font-size: 1.8rem;
    }
    .catchcopy p {
        font-size: 1.4rem;
    }
    .concept {
        height: 100px;
        padding: 600px 0 250px;
    }
    /*ナビ*/
    .nav {
        position: fixed;
        top: 0;
        right: -400px;
        width: 400px;
        height: 100vh;
        padding-top: 55px;
        background: #ff99bb;
        transition-duration: all .5s;
        z-index: 22;
    }
    .nav ul {
        margin: 0;
        padding-top: 0;
    }
    .nav ul li {
        text-align: left;
        padding: 0 14px;
    }
    .nav a {
        display: block;
        padding: 1em 0;
        padding-left: 0.5em;
        border-bottom: 1px solid #eeeeee;
        color: #000;
    }

    .nav a:hover {
        background: #eeeeee;
    }

    /*ハンバーガーメニュー*/
    #target {
        display: block;
        position: absolute;
        top: 30px;
        right: 30px;
        width: 30px;
        height: 30px;
        cursor: pointer;
        -webkit-transition: 1s;
        transition: 1s;
    }
    .target_inner {
        width: 30px;
        height: 30px;
    }
    .target_inner_line {
        display: block;
        position: absolute;
        left: 0;
        width: 30px;
        height: 2px;
        background-color: #333;
        -webkit-transition: 1s;
        transition: 1s;
        border-radius: 4px;
    }
    .target_inner_1 {
        top: 4px;
    }
    .target_inner_2 {
        top: 14px;
    }
    .target_inner_3 {
        bottom: 4px;
    }
    .global-nav {
        right: 0;
    }
    .black-bg {
        opacity: .8;
        visibility: visible;
    }
    .h_menu_line_1 {
        transform: rotate(45deg);
        top: 20px;
    }
    .h_menu_line_2 {
        width: 0;
        left: 50%;
    }
    .h_menu_line_3 {
        transform: rotate(-45deg);
        top: 20px;
    }

    .nav,.menu_open {
        right: 0;
    }
    .target_open,.menu_open {
        opacity: .8;
        visibility: visible;
    }
    .target_inner_1,.menu_open {
        transform: rotate(45deg) !important;
        top: 20px !important;
        background-color: #000000 !important;
    }
    .target_inner_2,.menu_open {
        width: 0 !important;
        left: 50% !important;
        background-color: #000000 !important;
    }
    .target_inner_3,.menu_open {
        transform: rotate(-45deg) !important;
        top: 20px !important;
        background-color: #000000 !important;
    }


}

/*スマホ*/
@media screen and (max-width: 480px) {
    .menu_area {
        display: grid;
    }
}