/*タブレット*/
@media screen and (max-width: 1024px) {
    /*ヘッダー*/
    h1 img {
        padding: 5px;
    }
    .reservation_area {
        position: absolute;
        top: 140px;
        right: 0;
        flex-direction: column;
    }
    .reservation_box {
        width: auto;
        height: auto;
        margin: 5px;
    }
    .reservation_area img {
        width: 50px;
        height: 50px;
    }
    .re_info {
        display: none;
    }

    #viewer img {
        width: 100%;
        height: 400px;
        object-fit: cover;
    }
    .catchcopy {
        top: 400px;
        left: 50%;
        transform: translate(-50%, -50%);
        bottom: 0;
        width: 50%;
        height: 130px;
    }

    /*コンセプト*/
    .concept {
        height: 100px;
        padding: 600px 0 250px;
    }
    .concept img {
        width: 100%;
        height: 250px;
        object-fit: cover;
        border-radius: 0;
    }
    .concept p {
        font-size: 1.8rem;
        padding: 100px 0;
    }
    /*ナビ*/
    .navArea {
        width: 100%;
        display: inline-block;
    }
    .nav {
        position: fixed;
        top: 0;
        left: -400px;
        width: 400px;
        height: 100vh;
        padding-top: 55px;
        background: #ff99bb;
        transition: 1s;
        text-align: center;
    }
    .nav ul {
        display: initial;
        height: auto;
    }
    .nav li a {
        display: inline-block;
        box-sizing: initial;
        height: auto;
    }
    .nav li a:hover {
        color: #ffffff;
    }
    .nav li li a {
        background: initial;
        height: auto;
    }
    .nav ul li {
        text-align: left;
        padding: 0 14px;
    }
    .nav li ul {
        position: initial;
        display: inline-block;
    }
    .nav li ul li {
        overflow: initial;
        height: auto;
    }
    .nav li ul li a {
        border-top: initial;
        text-align: left;
    }

    .nav li:hover > ul > li {
        overflow: initial;
        height: initial;
    }

    /*ハンバーガーメニュー*/
    /*============.toggle_btn=============*/
    #target {
        display: block;
        position: absolute;
        top: 40px;
        right: 40px;
        width: 40px;
        height: 40px;
        cursor: pointer;
        transition: 1s;
    }

    .target_inner{
        width: 40px;
        height: 40px;
    }
    .target_inner_line {
        display: block;
        position: absolute;
        left: 0;
        width: 40px;
        height: 3px;
        background-color: #33141f;
        transition: 1s;
        border-radius: 4px;
    }
    .target_inner_1 {
        top: 2px;
    }
    .target_inner_2 {
        top: 18px;
    }
    .target_inner_3 {
        bottom: 2px;
    }

    .fadein{
        transform: translateX(100%);
    }

    .linea {
        transform: rotate(225deg);
        top: 20px;
    }
    .lineb {
        opacity: 0;
    }
    .linec {
        transform: rotate(-225deg);
        top: 20px;
    }

    /*お知らせ*/
    .news {
        height: 800px;
    }
    .title {
        font-size: 1.4rem;
    }

    /*診療メニュー*/
    .menu {
        height: auto;
    }
    .menu_box {
        width: auto;
        height: auto;
    }
    .fee span {
        padding: 10px 50px;
    }

    /*基本情報*/
    .basic_info {
        height: 900px;
        margin: 0;
    }
    .basic_area {
        width: 80%;
    }
    .basic_box {
        width: 100%;
        height: auto;
    }
    .hours table {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
    .close_day{
        margin-left: 150px;
    }
    .access h3 {
        margin-top: 50px;
    }
    .map iframe {
        width: 80%;
        height: auto;
    }
    address p {
        margin-left: 60px;
    }

    /*予約・お問い合わせ*/
    .contact_area {
        display: block;
        overflow: hidden;
        width: 100%;
    }
    .contact_box {
        width: 60%;
        margin: 20px 20%;
    }

    /*フッター*/
    .f_nav {
        width: 90%;
    }

    /*clearfixの設定*/
    .clearfix::after{
        content: "";
        display: block;
        clear: both;
    }
}

/*スマホ*/
@media screen and (max-width: 480px) {
    body {
        font-size: 2em;
    }
    h3 {
        font-size: 3.2rem;
    }
    .sub_h {
        font-size: 1.4rem;
    }
    /*ヘッダー*/
    header {
        height: 80px;
    }
    #target {
        top: 20px;
        right: 15px;
    }
    #target,
    .target_inner {
        width: 40px;
        height: 40px;
    }
    .target_inner_line {
        width: 40px;
        height: 4px;
    }
    .target_inner_1 {
        top: 2px;
    }
    .target_inner_2 {
        top: 18px;
    }
    .target_inner_3 {
        bottom: 2px;
    }
    .linea,
    .linec {
        top: 20px;
    }
    .reservation_area {
        top: 80px;
    }
    .reservation_box img {
        width: 30px;
        height: 30px;
    }

    h1 img {
        width: auto;
        height: 50px;
        margin: 10px 0;
    }
    #viewer img {
        top: 80px;
    }
    .catchcopy {
        top: 350px;
    }
    /*診療メニュー*/
    .menu_area {
        grid-template-columns: 1fr 1fr;
    }
    .menu_box h4 {
        font-size: 1.4rem;
        padding-bottom: 20px;
    }
    /*診療時間*/
    .hours th,
    .table1,
    .pink,
    address p {
        font-size: 1.2rem;
    }
    .table1,.table2 {
        width: 40px;
    }
    .table1 {
        text-align: left;
    }
    address p {
        width: 100%;
        margin-left: 0;
        letter-spacing: initial;
    }
    /*予約*/
    .contact_box {
        width: 80%;
        margin: 10px 10%;
    }
    .contact_info strong,
    .description {
        font-size: 2rem;
    }
    .description {
        padding: 0 20px;
    }

    /*フッター*/
    .f_nav li ul {
        display: initial;
    }
    .f_nav {
        width: 70%;
    }
    .f_nav ul li {
        line-height: 3rem;
    }
    .Copyright {
        font-size: 1rem;
        letter-spacing: .2rem;
    }
}