* {
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6em;
    font-family:"ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
}

/*ヘッダー*/
header {
    width: 100%;
    height: 130px;
    position: fixed;
    z-index: 50;
    background: #ffffff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}
h1 {
    width: 45%;
    float: left;
}
h1 img {
    width: auto;
    height: 110px;
}
/*予約*/
.reservation_area {
    margin-top: 10px;
    display: flex;
}
.reservation_area img {
    height: 70px;
    float: left;
}
.reservation_box {
    color: #ffffff;
    background: #ea618e;
    border-radius: 5px;
    margin: 0 10px;
    float: left;
    width: 33.3%;
    text-align: center;
    position: relative;
    transition: 0.2s;
}
.re_2 {
    width: 200px;
}
.re_info {
    width: 85%;
    position: absolute;
    top: 50%;
    left: 65%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.reservation_box:hover {
    background: #ff99bb;
}
.re_info strong {
    font-size: 2rem;
}
.phone {
    font-size: 2.4rem;
}
.re_info p {
    font-size: 1.2rem;
}

/*ナビメニュー*/
.navArea {
    width: 55%;
    display: flex;
}
.nav {
    width: 750px;
    height: 50px;
    margin: 0 auto;
}
.nav ul {
    display: flex;
}
.nav li {
    position: relative;
    list-style: none;
}
.nav li a {
    display: block;
    padding: 0 20px;
    height: 50px;
    font-size: 2.0rem;
    line-height: 2.4;
    text-align: center;
    color: #33141f;
    transition: 0.5;
    text-decoration: none;
    box-sizing: border-box;
}
.nav li a:hover {/*layer-1*/
    color: #ff6699;
}
.nav li li a {
    font-size: 1.6rem;
    padding: 0 20px;
    width: 160px;
    height: 45px;
    line-height: 2.5;
    color: #ffffff;
    background: #ff6699;
}
.nav li li a:hover {/*layer-2*/
    color: #33141f;
    background: #ff99bb;
}
.nav li ul {
    display: block;
    top: 50px;
    position: absolute;
}
.nav li ul li {
    overflow: hidden;
    height: 0;
    transition: 0.2s;
    top: 0;
}
.nav li ul li a {
    border-top: 1.5px solid #eee;
}
.nav li:hover > ul > li {
    overflow: visible;
    height: 45px;
}

/*トップビジュアル*/
#viewer {
    position: relative;
}
#viewer img {
    position: absolute;
    top: 130px;
    left: 0;
    width: 100%;
}
.catchcopy {
    padding-top: 1000px;
    z-index: 10;
    background: rgb(255, 255, 255, 0.8);
    border-radius: 10px;
    display: block;
    padding: 30px 20px;
    height: 180px;
}
.catchcopy h2 {
    text-align: center;
    font-size: 3.2rem;
}
.catchcopy p {
    display: table;
    margin: 0 auto;
    font-size: 2rem;
    color: #404040;
}
.span1 {
    color: #ff6699;
}
.span2 {
    color: #00afcc;
}
/*コンセプト*/
.concept {
    padding: 60% 0 7%;
    text-align: center;
    position: relative;
}
.concept img {
    width: 90%;
    border-radius: 100px;
}
.concept p {
    position: absolute;
    top: 75%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/*コンテンツ共通*/
h3 {
    font-size: 2.8rem;
    text-align: center;
}
.sub_h {
    letter-spacing: 0.8rem;
    text-align: center;
    color: #993d5c;
}
#heading {
    margin: 50px 0 30px;
}
/*お知らせ*/
.news {
    background-color: #ffeaf3;
    height: 650px;
    position: relative;
}
.news_box{
    background-color: #ffffff;
    border-radius: 25px;
    width: 80%;
    padding-bottom: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.news li {
    display: table;
    margin: 0 auto;
    width: 70%;
    padding: 0 0 20px;
}
.news a{
    color: black;
    text-decoration: none;
    transition: 0.5s;
}
.news a:hover {
    color: #ff6699;
}
time {
    font-size: 1.2rem;
}
.title {
    border-bottom: solid 1px #333333;
    padding-bottom: 15px;
}

/*診療のご案内*/
.menu {
    height: 800px;
}
.menu h3 {
    margin-top: 50px;
}
.menu_area {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    padding: 30px;
}
.menu_box {
    background: #ffeaf3;
    width: 300px;
    height: 300px;
    border-radius: 30%;
    text-align: center;
    margin: 10px auto;
    transition: 0.5s;
}
.menu_box img {
    padding-top: 10px;
    width: 70%;
}
.menu_box h4 {
    font-size: 1.8rem;
    color: #33141f;
    padding-top: -20px;
}
.menu_area a {
    text-decoration: none;
}
.menu_box:hover {
    color: #ffffff;
    background: #ffcce2;
}
.fee {
    text-align: center;
    margin: 50px 0;
}
.fee span {
    color: #33141f;
    border: solid 3px #ff6699;
    font-size: 2rem;
    padding: 10px 200px;
    transition: 0.2s;
}
.fee a {
    text-decoration: none;
}
.fee span:hover {
    color: #ffffff;
    background: #ff6699;
}

/*基本情報*/
.basic_info {
    background-image: url(./../img/basic_info.png);
    margin-top: 200px;
    height: 600px;
    position: relative;
}
.basic_area {
    width: 80%;
    height: 500;
    background: rgb(255, 255, 255, 0.9);
    padding: 50px 40px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.basic_box {
    width: 50%;
    height: 370px;
    float: left;
}
.sub_h2 {
    padding-bottom: 20px;
}
/*診療時間*/
.hours table {
    table-layout: fixed;
    width: 460px;
    border-collapse: collapse;
}
.hours th {
    border-bottom: solid 2px #993d5c;
    height: 50px;
}
.table1 {
    width: 110px;
    font-size: 1.4rem;
    text-align: right;
}
.table2 {
    width: 60px;
}
.hours td {
    padding: 15px 0;
}
.pink {
    font-size: 2rem;
    color: #ff6699;
}
.closed_day {
    font-size: 1.2rem;
    text-align: left;
    padding: 10px 15px 0;
}
/*アクセス*/
.map iframe {
    width: 500px;
    height: 200px;
    display: block;
    margin: 0 auto;
}
address p {
    font-style: normal;
    font-size: 1.4rem;
    letter-spacing: 0.3rem;
    text-align: left;
    margin-top: 5px;
}

/*ご予約・お問い合わせ*/
.contact {
    margin-bottom: 50px;
}
.contact_area {
    display: flex;
}
.contact_box {
    color: #ffffff;
    background: #ea618e;
    border-radius: 5px;
    margin: 30px;
    float: left;
    width: 33.3%;
    text-align: center;
    position: relative;
    transition: 0.2s;
}
.contact_box:hover {
    background: #ff99bb;
}
.contact_box img {
    width: 40%;
    margin-right: 6px;
    float: left;
}
.contact_info {
    width: 70%;
    position: absolute;
    top: 50%;
    left: 65%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.contact_info strong {
    font-size: 2.8rem;
}
.contact_info p {
    font-size: 1.4rem;
}
.description {
    text-align: center;
    font-size: 2.8rem;
    color: #993d5c;
    padding-top: 10px;
}
/*フッター*/
.footer_menu {
    background: #ffeaf3;
    text-align: center;
}
.f_nav {
    width: 60%;
    padding: 50px 0 50px;
    margin: 0 auto;
}
.f_nav ul li {
    font-size: 1.8rem;
    color: #33141f;
    list-style: none;
    text-align: left;
    line-height: 2.8rem;
}
.f_nav li ul {
    display: flex;
}
.f_nav li li {
    list-style: none;
    text-align: left;
    margin-right: 20px;
}
.f_nav li li a {
    color: #993d5c;
    text-decoration: none;
    font-size: 1.4rem;
}

.c {
    color: #ffffff;
    background: #33141f;
    font-size: 1.2rem;
    font-family: none;
    text-align: center;
    letter-spacing: 0.5rem;
    padding: 5px 0 5px;
}
/*clearfixの設定*/
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}