* {
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6em;
    font-family:"ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
}

/*ヘッダー*/
header {
    width: 100%;
    height: 155px;
    position: fixed;
    z-index: 23;
    background: #ffffff;
}
h1 {
    width: 50%;
    float: left;
}

/*予約*/
.reservation_area {
    width: 50%;
    margin-top: 10px;
    display: flex;
}
.reservation_area img {
    height: 70px;
    float: left;
}
.reservation_box {
    height: 70px;
    background: #ea618e;
    margin: 5px;
    text-align: left;
}
.phone_box {
    width: 230px;
}
.net_box,.contact_box {
    width: 180px;
}
.reservation_box strong {
    color: #ffffff;
    text-align: center;
    font-size: 2rem;
    line-height: 70px;
}
.phone_box strong {
    font-size: 2.2rem;
}
.phone_box p {
    font-size: 1rem;
    color: #ffffff;
}
/*ナビメニュー*/
.navArea {
    display: flex;
    margin-top: 15px;
}
.nav {
    width: 750px;
    height: 50px;
    margin: 0 auto;
}
.nav ul {
    display: flex;
}
.nav li {
    position: relative;
    list-style: none;
}
.nav li a {
    display: block;
    padding: 0 20px;
    height: 50px;
    font-size: 2.0rem;
    line-height: 2.4;
    text-align: center;
    color: #33141f;
    transition: 0.5;
    text-decoration: none;
    box-sizing: border-box;
}
.nav li a:hover {/*layer-1*/
    color: #ff6699;
}
.nav li li a {
    font-size: 1.6rem;
    padding: 0 20px;
    width: 160px;
    height: 45px;
    line-height: 2.5;
    color: #ffffff;
    background: #ff6699;
}
.nav li li a:hover {/*layer-2*/
    color: #33141f;
    background: #ff99bb;
}
.nav li ul {
    display: block;
    top: 50px;
    position: absolute;
}
.nav li ul li {
    overflow: hidden;
    height: 0;
    transition: 0.2s;
    top: 0;
}
.nav li ul li a {
    border-top: 1.5px solid #eee;
}
.nav li:hover > ul > li {
    overflow: visible;
    height: 45px;
}

/*トップビジュアル*/
#viewer img {
    top: 155px;
    left: 0;
    position: absolute;
    width: 100%;
}
.catchcopy {
    position: absolute;
    bottom: 50px;
    right: 50px;
    z-index: 21;
    background: rgb(255, 255, 255, 0.8);
    border-radius: 10px;
    opacity: 0.9;
    display: block;
    padding: 30px 20px;
}
.catchcopy h2 {
    text-align: center;
    font-size: 3.2rem;
    opacity: 1;
}
.catchcopy p {
    display: table;
    margin: 0 auto;
    font-size: 2rem;
    color: #404040;
}
.span1 {
    color: #ff6699;
}
.span2 {
    color: #00afcc;
}
/*コンセプト*/
.concept {
    text-align: center;
}
.concept img {
    margin: 750px 0 30px;
    width: 90%;
    border-radius: 100px;
    position: relative;
}
.concept p {
    position: absolute;
    bottom: -300px;
    text-align: center;
}

/*コンテンツ共通*/
h3 {
    font-size: 2.8rem;
}
.english {
    letter-spacing: 0.8rem;
}

/*お知らせ*/
.news {
    background-color: #ffeaf3;
    height: 600px;
    position: relative;
}
.news_box{
    background-color: #ffffff;
    border-radius: 25px;
    width: 80%;
    padding: 30px 0 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.news h3,
.english {
    text-align: center;
}
.news li {
    display: table;
    margin: 0 auto;
    width: 70%;
    padding: 0 0 20px;
}
.news a{
    color: black;
    text-decoration: none;
}
.news a:hover {
    color: #ff6699;
}
time {
    font-size: 1.2rem;
}
.title {
    border-bottom: solid 1px #333333;
    padding-bottom: 20px;
}

/*診療のご案内*/
.menu {
    height: 800px;
}
.menu h3 {
    text-align: center;
    margin-top: 50px;
}
.menu_area {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    padding: 30px;
}
.menu_box {
    background: #ffeaf3;
    width: 300px;
    height: 300px;
    border-radius: 30%;
    text-align: center;
    margin: 10px auto;
    transition: 0.5s;
}
.menu_box img {
    padding-top: 10px;
    width: 70%;
}
.menu_box h4 {
    font-size: 1.8rem;
    color: #33141f;
    padding-top: -20px;
}
.menu_area a {
    text-decoration: none;
}
.menu_box:hover {
    color: #ffffff;
    background: #ffcce2;
}
.fee {
    text-align: center;
    margin: 50px 0;
}
.fee span {
    color: #33141f;
    border: solid 3px #ff6699;
    font-size: 2rem;
    padding: 10px 200px;
    transition: 0.5s;
}
.fee a {
    text-decoration: none;
}
.fee span:hover {
    color: #ffffff;
    background: #ff6699;
}

/*基本情報*/
.basic_info {
    background-image: url(./../img/basic_info.png);
    margin-top: 200px;
    height: 600px;
    position: relative;
}
.basic_area {
    width: 80%;
    background: rgb(255, 255, 255, 0.9);
    padding: 50px 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.hours {
    float: left;
}
.hours h3,.access h3 {
    text-align: center;
}

/*clearfixの設定*/
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}